## Chopping text and sampling
We had already chopped the text, the original dataset and the sample dataset both had been uploaded to One drive, you don't have to run this code

In [ ]:
!pip3 install pandas
!pip3 install torch
!pip3 install numpy
!pip3 install scikit-learn

In [5]:
INPUT_FILE = "preprocessed.csv"
AUTHOR_NUM = 50
NUM_BOOKS_AUTHOR_WRITE = 20
SAMPLE_FILE_NAME = "top_30_authors_1000.csv"

In [6]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm
from sklearn.model_selection import train_test_split
import ast

In [3]:
filename = INPUT_FILE
preprocessed_df = pd.read_csv(filename)

Filter

In [4]:
preprocessed_df['author'].unique().size

3324

In [37]:
df = preprocessed_df[preprocessed_df.num_tokens > 0]
author_count = df['author'].value_counts()
many_works_author = author_count.sort_values()
author_count[0:30]

Lytton, Edward Bulwer Lytton, Baron     212
Ebers, Georg                            163
Twain, Mark                             136
Parker, Gilbert                         128
Balzac, Honoré de                       114
Meredith, George                        107
Jacobs, W. W. (William Wymark)          102
Motley, John Lothrop                    102
Shakespeare, William                     88
Pepys, Samuel                            87
Hawthorne, Nathaniel                     84
Howells, William Dean                    79
Churchill, Winston                       65
MacDonald, George                        61
Harte, Bret                              55
Dickens, Charles                         52
Haggard, H. Rider (Henry Rider)          52
Yonge, Charlotte M. (Charlotte Mary)     52
James, Henry                             50
Galsworthy, John                         48
Lang, Andrew                             48
Stevenson, Robert Louis                  48
Cervantes Saavedra, Miguel de            46
Doyle, Arthur Conan                      46
Trollope, Anthony                        46
Scott, Walter                            46
Warner, Charles Dudley                   44
Whittier, John Greenleaf                 43
Davis, Richard Harding                   43
London, Jack                             43
Name: author, dtype: int64

In [29]:
many_works_author = many_works_author.unique()[0:30]

In [31]:
many_works_author.size

30

In [99]:
#many_works_author = many_works_author.sample(n=AUTHOR_NUM)
#many_works_author

In [39]:
df = df[df.author.isin(author_count[0:30].index.to_numpy())].reset_index()
len(df)

2290

                                                            One hot

In [50]:
df['authors_counts'] = df['author'].map(author_count[0:30])
df

,level_0,index,id,title,author,authoryearofbirth,authoryearofdeath,idx,num_tokens,num_unique,text,label,authors_counts
0,0,12,PG33,The Scarlet Letter,"Hawthorne, Nathaniel",1804.0,1864.0,14,19262,5654,illustration houdan chicks with barred plymout...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",84
1,1,14,PG42,The Strange Case of Dr. Jekyll and Mr. Hyde,"Stevenson, Robert Louis",1850.0,1894.0,16,39700,6072,the call of the wildflower the same seventy ye...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",48
2,2,25,PG77,The House of the Seven Gables,"Hawthorne, Nathaniel",1804.0,1864.0,27,55226,8855,napoleon marshals illustration marshal ney cov...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",84
3,3,36,PG100,The Complete Works of William Shakespeare,"Shakespeare, William",1564.0,1616.0,38,46443,5074,just william illustration william clasping an ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",88
4,4,37,PG102,The Tragedy of Pudd'nhead Wilson,"Twain, Mark",1835.0,1910.0,39,29412,6840,illustration two more appeared dragging along ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",136
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,2285,10879,PG16908,Once Upon A Time,"Davis, Richard Harding",1864.0,1916.0,11021,45327,6034,provided by the internet archive the fortunes ...,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",43
2286,2286,10954,PG17031,The Disentanglers,"Lang, Andrew",1844.0,1912.0,11096,21292,7237,images generously made available by the intern...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",48
2287,2287,11022,PG17168,The Queen of the Pirate Isle,"Harte, Bret",1836.0,1902.0,11164,53019,6235,produced from images available at the internet...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",55
2288,2288,11079,PG17287,History of France,"Yonge, Charlotte M. (Charlotte Mary)",1823.0,1901.0,11221,13440,6764,transcriber notes obvious typographical errors...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",52
2289,2289,11145,PG17398,The Cabman's Story: The Mysteries of a London ...,"Doyle, Arthur Conan",1859.0,1930.0,11290,2147,21133,memoirs of four civil war generals by grant sh...,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",46

In [51]:
def onehot_to_vertor(x):
    values = list(x.values)
    return values

In [ ]:
INPUT_FILE = "preprocessed.csv"
AUTHOR_NUM = 50
NUM_BOOKS_AUTHOR_WRITE = 20
SAMPLE_FILE_NAME = "top_30_authors_1000.csv"

In [ ]:
filename = INPUT_FILE
preprocessed_df = pd.read_csv(filename)

Filter

In [ ]:
preprocessed_df['author'].unique().size

In [ ]:
df = preprocessed_df[preprocessed_df.num_tokens > 0]
author_count = df['author'].value_counts()
many_works_author = author_count.sort_values()
author_count[0:30]

In [ ]:
many_works_author = many_works_author.unique()[0:30]

In [ ]:
many_works_author.size

In [ ]:
#many_works_author = many_works_author.sample(n=AUTHOR_NUM)
#many_works_author

In [ ]:
df = df[df.author.isin(author_count[0:30].index.to_numpy())].reset_index()
len(df)

                                                            One hot

In [ ]:
df['authors_counts'] = df['author'].map(author_count[0:30])
df

In [10]:
def onehot_to_vertor(x):
    values = list(x.values)
    return values

In [11]:
def save_author_order(x):
    x.to_csv('order.csv', index=False)

In [ ]:
one_hot = pd.get_dummies(df['author'])
save_author_order(one_hot)
# convert true/false to 1/0
one_hot = one_hot.astype(int)
df['label'] = one_hot.apply(onehot_to_vertor, axis=1)
df['label']

                                    Take the first 512 tokens

                                    Take the last 512 tokens

                                    Take the first 128 and last 384 tokens

In [ ]:
len(df['label'].apply(str).unique())

In [15]:


# split to 512
chunk_size = 512
sample_size = 400
chunk_df = pd.DataFrame(columns=df.columns)
count = 0
chunk_l = []
for index, row in tqdm(df.iterrows()):
    doc = row['text'].split()
    chunk_list = []
    sublist_length = 5
    if row['authors_counts'] >= 200:
        sublist_length = 5
    if 150 <= row['authors_counts'] < 200:
        sublist_length = 7
    if 100 <= row['authors_counts'] < 150:
        sublist_length = 10
    if 40 < row['authors_counts'] < 100:
        sublist_length = 25
    for i in range(0, len(doc), chunk_size):
        chunk_list.append(i)
    if len(chunk_list) < sublist_length:
        #print(row)
        count += 1
        random_chunk = chunk_list
    else:
        random_chunk = random.sample(chunk_list, sublist_length)
    for i in random_chunk:
        sub_doc = ' '.join(doc[i: i + chunk_size])
        new_row = {'label': row['label'], 'text': sub_doc, 'author': row['author']}
        chunk_l.append(new_row)
        #chunk_df = pd.concat([chunk_df,pd.DataFrame(new_row)],ignore_index=True)
print(count)
# sample 400 randomly

NameError: name 'df' is not defined

In [74]:
chunk_df = pd.DataFrame(chunk_l)
chunk_df

,label,text,author
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",that part of the continent in the first ostric...,"Hawthorne, Nathaniel"
1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",work these people were not under any delusions...,"Hawthorne, Nathaniel"
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",that it does not pay to grow them where they c...,"Hawthorne, Nathaniel"
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",a great deal of waste food from the occupants ...,"Hawthorne, Nathaniel"
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",quite dark in color the dressed carcass is not...,"Hawthorne, Nathaniel"
...,...,...,...
38367,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",act shall be paid out of any moneys in the tre...,"Doyle, Arthur Conan"
38368,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",the border states into the south with the avow...,"Doyle, Arthur Conan"
38369,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",on the same evening had received information t...,"Doyle, Arthur Conan"
38370,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",cimarron by what appeared to him a more direct...,"Doyle, Arthur Conan"
38371,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",stockton boat from the northern mines by sacra...,"Doyle, Arthur Conan"

In [76]:
chunk_df['author'].value_counts()

Pepys, Samuel                           2172
Shakespeare, William                    2084
Hawthorne, Nathaniel                    2009
Howells, William Dean                   1922
Churchill, Winston                      1562
MacDonald, George                       1449
Twain, Mark                             1330
Harte, Bret                             1300
Yonge, Charlotte M. (Charlotte Mary)    1284
Parker, Gilbert                         1277
Dickens, Charles                        1261
Haggard, H. Rider (Henry Rider)         1213
Stevenson, Robert Louis                 1162
Galsworthy, John                        1160
Lang, Andrew                            1159
James, Henry                            1154
Cervantes Saavedra, Miguel de           1144
Ebers, Georg                            1138
Balzac, Honoré de                       1130
Scott, Walter                           1073
Meredith, George                        1066
Trollope, Anthony                       1060
Warner, Charles Dudley                  1058
Lytton, Edward Bulwer Lytton, Baron     1057
Doyle, Arthur Conan                     1051
Whittier, John Greenleaf                1044
Davis, Richard Harding                  1042
Motley, John Lothrop                    1008
Jacobs, W. W. (William Wymark)          1006
London, Jack                             997
Name: author, dtype: int64

In [82]:
def sample(x):
    if x.shape[0] > 1000:
        return x.sample(n=1000, random_state=42)
    else:
        return x


#lambda x: x.sample(n=1000, random_state=42)

sample_df = chunk_df.groupby('author', group_keys=False).apply(sample)
sample_df.groupby('author', group_keys=False).count()
sample_df = sample_df.drop('author', axis=1)

In [83]:
sample_df.to_csv('top_30_authors_1000.csv', index=False)

                                                Sampling

In [89]:
df = pd.read_csv(SAMPLE_FILE_NAME)

In [90]:
def get_y(x):
    try:
        return np.asarray(ast.literal_eval(x), dtype=int)
    except ValueError:
        print(f"Error parsing: {x}")
        # You can return a default value, or re-raise the exception
        # return np.array([], dtype=int)
        raise

In [91]:
df

,label,text
0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",heart murder is never permitted even when the ...
1,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",you make me angry if you go on she said with a...
2,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",dusk fell they would stroll homeward through t...
3,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",should be proceeded with pending the final set...
4,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",the parish repair to the house of one of their...
...,...,...
29992,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",the throat the great people never regarded the...
29993,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",an exopodite the abdomen is relatively small t...
29994,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",a doe and the other a buck both were needed an...
29995,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",whither my wandering steps have strayed at pre...
29996,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",opened out and arose like a great work of art ...

In [92]:
def sampling(df):
    #raw_train_data, raw_test_data = train_test_split(df, test_size=0.2, shuffle=True, stratify=df['label'], random_state=42)
    raw_train_data, test_data = train_test_split(df, test_size=0.1, shuffle=True, stratify=df['label'], random_state=42)
    train_ds, val_ds = train_test_split(raw_train_data, test_size=0.111111, shuffle=True,
                                        stratify=raw_train_data['label'], random_state=42)
    """
    skf = MultilabelStratifiedKFold(n_splits=5, shuffle=True, random_state=42)
    X = np.asarray(raw_train_data['text'])
    y = raw_train_data['label'].apply(get_y)
    y1 = []
    for i in y:
        y1.append(i)
    y1 = np.asarray(y1)
    train_ds = pd.DataFrame(columns=['text', 'label']).reset_index(drop=True)
    val_ds = pd.DataFrame(columns=['text', 'label']).reset_index(drop=True)
    df = raw_train_data
    for train_idxs, val_idxs in skf.split(X, y1):
        for i in train_idxs:
            train_ds = train_ds.append(df.iloc[i], ignore_index=True)
            #train_ds = pd.concat([train_ds, df.iloc[i]], ignore_index=True)
        for i in val_idxs:
            val_ds = val_ds.append(df.iloc[i], ignore_index=True)
            #val_ds = pd.concat([val_ds, df.iloc[i]], ignore_index=True)
        break
    """
    return train_ds, val_ds, test_data

In [93]:
train_ds, val_ds, test_data = sampling(df)

In [94]:
test_data['label']

9834     [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
10601    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...
23802    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
8206     [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
16108    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                               ...
15328    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
15772    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
11425    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...
12092    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
416      [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: label, Length: 3000, dtype: object

Check the number of author in each dataset

In [95]:
def check_author_in_dataset(df):
    print("Size of Test DataSet: " + str(len(test_data)))
    print("Size of Train DataSet: " + str(len(train_ds)))
    print("Size of Validation DataSet: " + str(len(val_ds)))
    authors_in_test = test_data['label'].tolist()
    authors_in_test = [str(x) for x in authors_in_test]

    authors_in_train = train_ds['label'].tolist()
    authors_in_train = [str(x) for x in authors_in_train]

    authors_in_val = val_ds['label'].tolist()
    authors_in_val = [str(x) for x in authors_in_val]

    print("Num of authors in test: " + str(len(set(authors_in_test))))
    print("Num of authors in tran: " + str(len(set(authors_in_train))))
    print("Num of authors in validation: " + str(len(set(authors_in_val))))

In [96]:
check_author_in_dataset(df)

Size of Test DataSet: 3000
Size of Train DataSet: 23997
Size of Validation DataSet: 3000
Num of authors in test: 30
Num of authors in tran: 30
Num of authors in validation: 30

In [99]:
train_ds['label'].value_counts()

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]    800
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]    800
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]    800
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]    800
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    800
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    797
Name: label, dtype: int64

In [100]:
test_data['label'].value_counts()

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]    100
[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]    100
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]    100
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
Name: label, dtype: int64

In [101]:
val_ds['label'].value_counts()

[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]    100
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]    100
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    100
Name: label, dtype: int64

In [103]:
prefix = SAMPLE_FILE_NAME.split('.')[0]

test_data.to_csv(f'{prefix}_test.csv', index=False)
train_ds.to_csv(f'{prefix}_train.csv', index=False)
val_ds.to_csv(f'{prefix}_val.csv', index=False)

In [19]:
svm_test_df = pd.read_csv('../dataset/svm_data/test.csv')
svm_train_df = pd.read_csv('../dataset/svm_data/train.csv')
svm_val_df = pd.read_csv('../dataset/svm_data/val.csv')
#svm_val_df['text_len']=svm_val_df['text'].apply(len)
#svm_val_df.sort_values(by=['text_len','author'])
#svm_data = pd.concat([svm_test_df, svm_train_df, svm_val_df], ignore_index=True)
svm_data = pd.concat([svm_test_df,svm_val_df,svm_train_df], ignore_index=True)
svm_data

,index,id,text,author
0,6,PG54,the marvelous land of oz being an account of t...,"Baum, L. Frank (Lyman Frank)"
1,23,PG128,the arabian nights entertainments selected and...,"Lang, Andrew"
2,41,PG244,a study in scarlet by conan doyle original tra...,"Doyle, Arthur Conan"
3,43,PG280,transcribed from the chatto windus edition by ...,"Stevenson, Robert Louis"
4,49,PG310,before adam by jack london these are our ances...,"London, Jack"
...,...,...,...,...
1484,4233,PG56602,illustration katy victory frank hunter peril b...,"Alger, Horatio, Jr."
1485,4236,PG56686,tom temple s career by horatio alger jr author...,"Alger, Horatio, Jr."
1486,4239,PG56767,illustration yours truly g a henty those other...,"Henty, G. A. (George Alfred)"
1487,4245,PG56973,generously made available by the internet arch...,"Alger, Horatio, Jr."
1488,4247,PG57481,produced from images generously made available...,"Wells, H. G. (Herbert George)"

In [20]:
def get_x(x):
    return len(x.split())


svm_data['text_len'] = svm_data['text'].apply(get_x)
svm_data.groupby(by='author', group_keys=False).agg({'text_len': 'sum'}).sort_values(by='text_len')

                                          text_len
author
Hawthorne, Nathaniel                       1234178
Shakespeare, William                       1452778
Twain, Mark                                1607657
Parker, Gilbert                            1688200
Baum, L. Frank (Lyman Frank)               2111683
Harte, Bret                                2165029
Alger, Horatio, Jr.                        2469596
Lytton, Edward Bulwer Lytton, Baron        2648660
Motley, John Lothrop                       2680903
Stratemeyer, Edward                        2787049
Doyle, Arthur Conan                        2868758
Lang, Andrew                               2876892
London, Jack                               2920030
Optic, Oliver                              3025798
Ballantyne, R. M. (Robert Michael)         3072867
Warner, Charles Dudley                     3242475
Stevenson, Robert Louis                    3335860
Meade, L. T.                               3544253
Kingston, William Henry Giles              3633463
Wells, H. G. (Herbert George)              3635435
Oppenheim, E. Phillips (Edward Phillips)   3713023
Churchill, Winston                         4143851
MacDonald, George                          4217172
Baring-Gould, S. (Sabine)                  4324713
Fenn, George Manville                      4736583
Meredith, George                           4917690
Henty, G. A. (George Alfred)               5096370
Oliphant, Mrs. (Margaret)                  5265986
Lever, Charles James                       5697039
Scott, Walter                              6388290

In [21]:
one_hot = pd.get_dummies(svm_data['author'])
save_author_order(one_hot)
# convert true/false to 1/0
one_hot = one_hot.astype(int)
svm_data['label'] = one_hot.apply(onehot_to_vertor, axis=1)
svm_data.sort_values(by='text_len')

,index,id,text,author,text_len,label
557,3100,PG24019,excelsior by bret harte presented by enoch mor...,"Harte, Bret",301,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
1231,3342,PG28850,instructions this is a multi volume index file...,"Motley, John Lothrop",344,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1227,3337,PG28803,transcriber note this is a multi volume index ...,"Twain, Mark",346,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
181,1945,PG7548,quotes and images from harry lorrequer the con...,"Lever, Charles James",1135,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
990,2290,PG9253,the doliver romance and other pieces tales and...,"Hawthorne, Nathaniel",1173,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...
392,3891,PG45368,the outline of history wells has also written ...,"Wells, H. G. (Herbert George)",438706,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
792,1247,PG4836,motley history of the netherlands pg edition t...,"Motley, John Lothrop",559927,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
736,834,PG3136,the entire project gutenberg works of charles ...,"Warner, Charles Dudley",1013999,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
850,1419,PG5400,the complete pg edition of the works of winsto...,"Churchill, Winston",1653612,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
106,1195,PG4500,the complete project gutenberg works of george...,"Meredith, George",2542494,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [22]:
chunk_l = []
for index, row in tqdm(svm_data.iterrows()):
    doc = row['text'].split()
    chunk_list = []
    #sublist_length = 20
    for i in range(0, len(doc), chunk_size):
        sub_doc = ' '.join(doc[i: i + chunk_size])
        new_row = {'label': row['label'], 'text': sub_doc, 'author': row['author']}
        chunk_l.append(new_row)
    # random_chunk = random.sample(chunk_list, sublist_length)
    # for i in random_chunk:
    #     sub_doc = ' '.join(doc[i: i + chunk_size])
    #     new_row = {'label': row['label'], 'text': sub_doc, 'author': row['author']}
    #     chunk_l.append(new_row)
    #chunk_df = pd.concat([chunk_df,pd.DataFrame(new_row)],ignore_index=True)
svm_data2 = pd.DataFrame(chunk_l)

1489it [00:04, 309.55it/s]

In [23]:
svm_data2.value_counts('author')
#svm_data2.to_csv('svm_chopped_for_eval.csv')

author
Scott, Walter                               12505
Lever, Charles James                        11153
Oliphant, Mrs. (Margaret)                   10312
Henty, G. A. (George Alfred)                 9981
Meredith, George                             9630
Fenn, George Manville                        9277
Baring-Gould, S. (Sabine)                    8474
MacDonald, George                            8261
Churchill, Winston                           8115
Oppenheim, E. Phillips (Edward Phillips)     7275
Wells, H. G. (Herbert George)                7124
Kingston, William Henry Giles                7122
Meade, L. T.                                 6949
Stevenson, Robert Louis                      6540
Warner, Charles Dudley                       6356
Ballantyne, R. M. (Robert Michael)           6025
Optic, Oliver                                5934
London, Jack                                 5727
Lang, Andrew                                 5643
Doyle, Arthur Conan                          5627
Stratemeyer, Edward                          5467
Motley, John Lothrop                         5259
Lytton, Edward Bulwer Lytton, Baron          5197
Alger, Horatio, Jr.                          4850
Harte, Bret                                  4256
Baum, L. Frank (Lyman Frank)                 4150
Parker, Gilbert                              3323
Twain, Mark                                  3161
Shakespeare, William                         2860
Hawthorne, Nathaniel                         2431
dtype: int64

In [24]:
svm_data3 = svm_data2.groupby('author').sample(n=2000, random_state=42)
svm_data3

,label,text,author
193107,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",in his vest pocket as a matter of form but did...,"Alger, Horatio, Jr."
75100,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",equally to the bullets of friends and foes tol...,"Alger, Horatio, Jr."
61646,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",so cruelly you will not wonder that all this s...,"Alger, Horatio, Jr."
198900,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",with them i do want to carry them around with ...,"Alger, Horatio, Jr."
74499,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",me i pretty comfortable though i did more to g...,"Alger, Horatio, Jr."
...,...,...,...
55498,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",could destroy it it was a return to a state of...,"Wells, H. G. (Herbert George)"
63923,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",to europe she was america to america she was t...,"Wells, H. G. (Herbert George)"
81106,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",would they fill a position which from the natu...,"Wells, H. G. (Herbert George)"
63945,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",hurt in the pitching up of the ship during the...,"Wells, H. G. (Herbert George)"
55128,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",retook naples from the greeks the goths protec...,"Wells, H. G. (Herbert George)"

In [27]:
raw_train_data, test_data = train_test_split(svm_data3, test_size=0.1, shuffle=True, stratify=svm_data3['label'], random_state=42)
train_ds, val_ds = train_test_split(raw_train_data, test_size=0.111111, shuffle=True,
                                        stratify=raw_train_data['label'], random_state=42)

print("Size of Test DataSet: " + str(len(test_data)))
print("Size of Train DataSet: " + str(len(train_ds)))
print("Size of Validation DataSet: " + str(len(val_ds)))
authors_in_test = test_data['label'].tolist()
authors_in_test = [str(x) for x in authors_in_test]

authors_in_train = train_ds['label'].tolist()
authors_in_train = [str(x) for x in authors_in_train]

authors_in_val = val_ds['label'].tolist()
authors_in_val = [str(x) for x in authors_in_val]

print("Num of authors in test: " + str(len(set(authors_in_test))))
print("Num of authors in tran: " + str(len(set(authors_in_train))))
print("Num of authors in validation: " + str(len(set(authors_in_val))))


test_data.to_csv(f'svm_2000_test.csv', index=False)
train_ds.to_csv(f'svm_2000_train.csv', index=False)
val_ds.to_csv(f'svm_2000_val.csv', index=False)

Size of Test DataSet: 6000
Size of Train DataSet: 48000
Size of Validation DataSet: 6000
Num of authors in test: 30
Num of authors in tran: 30
Num of authors in validation: 30